@import "../shared/colors.scss";
.wrapper {
    max-width: 800px;
    padding-top: 60px;
    padding-left: 20px;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    .uploader {
        cursor: pointer;
        height: 60px;
        padding: 0 20px;
        border-radius: 5px;
        background-color: rgba($color: #000000, $alpha: 0.15);
        div {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-size: 14px;
            }
        }
    }
    .selectedFiles {
        margin-top: 10px;
        p {
            font-size: 14px;
            color: rgba($color: #000000, $alpha: 0.8);
        }
    }
    .controller {
        margin-top: 40px;
    }
    .keytopics {
        margin-top: 50px;
        .heading {
            font-size: 18px;
            font-weight: 600;
            color: $PRIMARY;
            margin-bottom: 15px;
        }
        .topic {
            margin-bottom: 5px;
            font-weight: 500;
            color: $PRIMARY;
        }
        .data {
            margin-left: 20px;
            font-size: 14px;
            color: $TEXT;
            margin-bottom: 20px;
        }
    }
}