@import "../shared/colors.scss";
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .maxWidthContainer {
        z-index: 10;
        width: 1300px;
        height: 60px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .logo {
            width: 150px;
            img {
                width: 100%;
            }
        }
        .links {
            display: flex;
            align-items: center;
            margin-left: 100px;
            P {
                font-size: 18px;
                font-weight: 700;
                color: $PRIMARY;
                margin-right: 20px;
            }
        }
    }
}